/* CURRENT STYLESHEET */
* {
	outline: 0;
	padding: 0;
	margin: 0;
}

:active, :focus {
	outline:0;
	text-decoration:none;
	outline-style:none;
	-moz-outline-style:none;
}

/* Another Red example (Dad's choice) */
/*
.color-primary-0 { color: #180011 }
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #D096C0 }
.color-primary-3 { color: #802D69 }
.color-primary-4 { color: #4C0037 }
*/

body,html {
	border: 0px;
	padding: 0px;
	margin: 0px;
	height:100%;
	width:100%;
	background-color: #FFF8FF;
/* 	background-color: #D096C0; */
/* 	background-color:#180011; */
/* 	font-family: 'Open Sans', serif; */
	font-family: 'Roboto', sans-serif;
}

label {
	display:block;
	float:left;
}

a { outline: 0; }

/* PURPLE HUES */
/*
.color-primary-0 { color: #080016 }
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #A493C4 }
.color-primary-3 { color: #483075 }
.color-primary-4 { color: #1D0746 }
*/

/* RED/PINK/PURPLISH */
/*
.color-primary-0 { color: #120015 }
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #B78CC0 }
.color-primary-3 { color: #652971 }
.color-primary-4 { color: #380243 }
*/



.mainwrapper {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
	height:100%;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	padding-left:10px;
	padding-right:10px;
	min-height:700px;
}

.maincontent {
	width:100%;
	padding-top:150px;
}

.placeholder-text {
	color: #AAA;
	font-style:italic;
}


/*
input[type=button], input[type=submit] {
	background-color: #7A7A7A;
	border: medium none;
	color: #EDEDED;
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	margin-top: 5px;
	text-align: center;
	border-radius:4px;
}

input[type=button]:hover, input[type=submit]:hover {
	opacity: .8;
}
*/

/* begin sticky footer css */
.footer {
	position: fixed;
	bottom: 0;
	height: 30px;
	opacity: .95;
	width: 100%;
	z-index: 1000;
	line-height:30px;
}

.footer-inner {
	border-left: 1px solid #4c0037;
    border-right: 1px solid #4c0037;
	width: 1020px;
	margin-left:auto;
	margin-right:auto;
/* 	box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 1px 1px rgba(0, 0, 0, 0.12); */
	box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 -1px 0 0 rgba(0, 0, 0, 0.03), 0 -1px 0 0 rgba(0, 0, 0, 0.03), 0 -2px 0 0 rgba(0, 0, 0, 0.12);
	background-color: #4c0037;
	font-size:14px;
	color:#FFF;
	text-align:center;
}
/* end sticky footer css */


/* beg sticky header css */
.header {
/*     background-color: #FFF; */
/* 	background-color: #FFF; */
	color:#666;
    position: fixed;
    width: 100%;
    /* height: 60px; */
	height: 150px;
    top: 0;
    z-index: 2000;
/* 	box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12)
 */}

.header-middle {
	width:1020px;
	border-left: 1px solid #4c0037;
    border-right: 1px solid #4c0037;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	background-color: #4c0037;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12)
}

.header-middle-top {
	color: #FFF;
	float:left;
	height:100px;
	line-height:100px;
	width:1018px;
	border-right: 1px solid #4c0037;
	border-left: 1px solid #4c0037;
}

.header-middle-top-left {
/* 	font-family: 'Italianno', cursive; */
	font-family: 'Dancing Script', cursive;
	font-size:70px;
	width:499px;
	float:left;
	padding-left:10px;
}

.header-middle-top-right {
	width:499px;
	float:left;
	padding-right:10px;
	height:100%;
}

.header-middle-bottom {
	height:50px;
	width:1018px;
	float:left;
	background-color: #802d69;
    color: #fff;
	border-right: 1px solid #802d69;
	border-left: 1px solid #802d69;
}

.header-menu-div {
	float: left;
    font-size: 18px;
    height: 100%;
/*     text-transform: uppercase; */
    width: 15%;
}

.header-menu-link {
	color: #fff;
    display: block;
    height: 100%;
    line-height: 49px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.header-menu-link:hover {
	background-color:#a14e8a;
/* 	font-weight:bold; */
}

.header-logo {
	height:100%;
	float:left;
	padding-left:50px;
	width:200px;
}

.h100fl {
	height:100%;
	float:left;
}

.logowrapper {
	float:left;
	width:200px;
}

.header-content {
	width:100%;
	height:100%;
	line-height:1.5;
}
.header-nav {
	padding:25px;
	float:right;
	cursor:pointer;
}

.header-search {
	float:right;
	height:100%;
	padding-right:50px;
	width:320px;
}

.srchbtn {
	border:0px none;
	background-color:#4c0037;
	height:35px;
	width:35px;
	float:right;
}

.srchtxt {
	color:#000;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.9);
	padding-left:15px;
	padding-right:15px;
	border-radius:15px;
	text-align:left;
	border:0;
	height:30px;
	width:200px;
}

.srchicon {
	display: block;
    float: left;
    margin-top: -5px;
    transform: rotate(0.75turn);
    width: 35px;
}

.title {
	width:100%;
	line-height:2.5em;
	font-size:24px;
	float:left;
}
.titletext {
	float:left;
	cursor:default;
}
.arrowdiv {
	height:20px;
	float:left;
	width:100%;
}
.spanbtn {
	display:block !important;
	text-align:center;
	width:55px;
	font-size:21px;
	cursor:pointer;
}
.divider {
	background-color: #555;
	border-radius: 10px;
	cursor: default;
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0;
	padding: 0;
	width: 2px;
	float:right;
}
/* end sticky header css */
